# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*.swn
.DS_Store

# Project specific
!TrainingImage/.gitkeep
TrainingImageLabel/*
!TrainingImageLabel/.gitkeep
*.log
*.yml

# Exceptions
!haarcascade_default.xml

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini

# Backup files
*.bak
*~